{% extends 'base.html'%}

{% block title %} Login Page {% endblock %}

{% load static %}

{% block content %}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Employee Details</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
            
      </ul>

      <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search_results' %}">
        
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      
      <a class="btn btn-info mx-3" href="/logout_view" type="submit">Logout</a>
    </div>
  </nav>
<div class= "container mt-4" style="width:60%; height:50px;">
<table class="table table-hover" style="margin-top:10%">
    
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th class="text-center" scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Designation</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.username }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.user_gender }}</td>
            <td>{{ employee.user_designation }}</td>
            <td>
                <form method="post" action="{% url 'delete_employee' employee.id %}">
                    {% csrf_token %}
                    <a href="{% url 'update_emp' employee.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                </form>

                
                {% comment %} <a href="{% url 'delete_employee' employee.id %}" class="btn btn-warning btn-sm">Delete</a> {% endcomment %}
            </td> 
        </tr>
        {% endfor %}
    </tbody>
</table>


</div>


{% endblock content %}






